<a href="https://colab.research.google.com/github/bjloe/data-science-from-scratch/blob/master/TransposeExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bananas: An Example of Transposing Data

In [1]:
import pandas as pd

In [20]:
df_bananas = pd.DataFrame(data={'Store':['A','A','A','B','B','B'],
                                'Color': ['green','yellow','red','green','yellow','red'],
                                'Quantity':range(6)})

In [21]:
df

              Quantity
Store Color
A     green          0
      yellow         1
      red            2
B     green          3
      yellow         4
      red            5

In [22]:
df_bananas.set_index(['Store','Color'],inplace=True)

In [23]:
df_bananas2 = df_bananas.unstack(1)
df_bananas2

      Quantity
Color    green red yellow
Store
A            0   2      1
B            3   5      4

In [24]:
df_bananas2.columns = ['_'.join(c) for c in df_bananas2.columns]

In [25]:
df_bananas2

       Quantity_green  Quantity_red  Quantity_yellow
Store
A                   0             2                1
B                   3             5                4